
body{
    background-color:gray;
}

form{
    display: grid;
    width: 500px;
}
label{
    margin-top: 10px;
    font-size: 1.3rem;
}
input{
    height: 30px;
    font-size: 1.3rem;
}

button{
    height: 40px;
    font-size: 2rem;
}

.error{
    color: red;
    font-size: 1.1rem;
}